{% extends 'base.html' %}

<!-- Page content -->
{% block content %}
<section>
    <div class="section1">
           <div class="content2">
               <h1>You Want To Know The Rates?</h1>
               <p class="par2"> On Our platform, you can sell any unused gift cards at amazing rates. We
                   <br>believe everyone deserves the chance to gain, profit, and benefit, which
                   <br>drives us to help those most in need. You can check current gift card
                   <br>rates using our gift card rate calculator.</p>
               <button class="cn2"><a href="{% url 'rates' %}">Check Current Rates</a></button>
           </div>
        </div>
</section>

{% endblock content %}